.navbar{
    background-color: rgb(13, 19, 33);;
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
.logo{
    color:#f3f3f5;
    font-weight:600;
    font-size: 1.5rem;
    margin: 0;
}
.linkheader{
    opacity: 0.8;
    cursor: pointer;
    font-size: 0.9rem;
    color: #f3f3f5;
}
.linkheader:hover{
    opacity: 1;
    transition: all 0.3s;
    color:var(--theme);
}
a{
    text-decoration: none;
    color:#f3f3f5;
}

.navbarmobile{
    display: none;
}
.navbardesk{
    align-items: center !important;
}
:where(.css-1vr7spz).ant-drawer .ant-drawer-content {
    background: var(--white);
    color:var(--black);
}
.ant-drawer-body p{
    color:var(--black);
    margin-bottom: 1rem;
}
.ant-drawer-body button{
    margin-bottom: 1rem;
}
:where(.css-1vr7spz).ant-btn-default {
    background-color: transparent;
    border: none;
}
@media screen and (min-width:320px) and (max-width:768px) {
    .navbarmobile{
        display: block;
    }
    .navbardesk{
        display: none !important;
    }
}