
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
:where(
    .css-1vr7spz
  ).ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  ):active {
  color: var(--black);
  background-color: var(--white) !important;
}
:where(.css-1vr7spz).ant-radio-group {
  background-color: var(--theme);
}

:where(.css-1vr7spz)[class^="ant-radio"]
  [class^="ant-radio"],
:where(.css-1vr7spz)[class*=" ant-radio"]
  [class^="ant-radio"],
:where(.css-1vr7spz)[class^="ant-radio"]
  [class*=" ant-radio"],
:where(.css-1vr7spz)[class*=" ant-radio"]
  [class*=" ant-radio"] {
  box-sizing: border-box;
}

:where(
    .css-1vr7spz
  ).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: var(--black);
  background: var(--white);
  border-color: var(--theme);
}
:where(.css-1vr7spz).ant-radio-button-wrapper:hover {
  position: relative;
  color: var(--theme);
}
.ant-radio-button-wrapper
  ant-radio-button-wrapper-checked
  css-1vr7spz {
  background-color: var(--white);
}
:where(
    .css-1vr7spz
  ).ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  ):hover {
  color: var(--black);
  border-color: var(--theme);
}
:where(
    .css-1vr7spz
  ).ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  ):hover {
  border-color: var(--theme);
}
:where(.css-1vr7spz)[class^="ant-radio"]
  [class^="ant-radio"],
:where(.css-1vr7spz)[class*=" ant-radio"]
  [class^="ant-radio"],
:where(.css-1vr7spz)[class^="ant-radio"]
  [class*=" ant-radio"],
:where(.css-1vr7spz)[class*=" ant-radio"]
  [class*=" ant-radio"] {
  background-color: var(--white);
  color: var(--black);
}
html {
  height: 100vh;
  background-color: var(--white);
}
:where(
    .css-1vr7spz
  ).ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  ):hover {
  border-color: var(--theme);
}
:where(
    .css-1vr7spz
  ).ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  )::before {
  background-color: var(--theme);
}
:where(
    .css-1vr7spz
  ).ant-radio-button-wrapper:last-child {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}
:where(
    .css-1vr7spz
  ).ant-radio-button-wrapper:first-child {
  border-inline-start: 1px solid #d9d9d9;
  border-start-start-radius: 0px;
  border-end-start-radius: 0px;
}
:where(.css-1vr7spz).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  background-color: var(--white);
}
:where(
    .css-1vr7spz
  ).ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  ):first-child {
  border-color: var(--theme);
}
.my-table {
  margin-bottom: 0rem !important;
  border: 1.5px solid var(--theme);
}
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-tbody
  > tr
  > th,
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td {
  background-color: var(--white);
}
.my-card {
  border: 1.5px solid var(--theme);
}
.input-flex {
  border: 1.5px solid var(--theme);
}
:where(.css-1vr7spz).ant-table-wrapper table {
  border: 1.5px solid var(--theme);
}
.signup-wrapper {
  border: 1.5px solid var(--theme);
}
.select-input {
  border: 1.5px solid var(--theme);
}
:where(.css-1vr7spz).ant-pagination
  .ant-pagination-item-active {
  font-weight: 600;
  background-color: #ffffff;
  border-color: var(--theme);
}
:where(.css-1vr7spz).ant-pagination
  .ant-pagination-item-active
  a {
  color: var(--theme);
}
.home-container {
  display: flex;
  justify-content: space-between;
}
.right img {
  height: 25rem;
}

.right {
  padding-top: 10rem;
}

.left {
  padding: 0rem 1.5rem;
  padding-top: 10rem;
}
.left p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
.left h1 {
  padding-bottom: 1rem;
}
.homebtn {
  background-color: var(--theme);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  min-width: 100px;
  text-transform: capitalize;
  border: none;
}

.homebtn:hover {
  box-shadow: 0px 0px 15px var(--theme);
  transition: all 0.3s;
}

:where(.css-1vr7spz).ant-switch
  .ant-switch-handle::before {
  background-color: var(--theme) !important;
}
:where(.css-1vr7spz).ant-switch.ant-switch-checked
  .ant-switch-inner {
  background-color: black;
}
:where(.css-1vr7spz).ant-switch .ant-switch-inner {
  background-color: white;
}

h2 {
  color: var(--black);
}
:where(.css-1vr7spz).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  background-color: var(--white);
  color: var(--black);
}
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-tbody
  > tr
  > th,
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td {
  background-color: var(--white);
  color: var(--black);
}

:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-tbody
  .ant-table-row
  .ant-table-cell-row-hover {
  background-color: var(--white);
}
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  color: var(--black);
  background-color: var(--white);
}
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-tbody
  > tr
  > th,
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td {
  background-color: var(--white);
  color: var(--black);
  border-right: 1px solid var(--theme);
  border-top: 1px solid var(--theme) !important;
}
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  border-bottom: none;
}
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before,
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-thead
  > tr
  > td:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  background-color: var(--theme);
}
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-tbody
  > tr
  > th,
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td {
  border-bottom: none;
}
:where(.css-1vr7spz).ant-pagination
  .ant-pagination-item-active {
  font-weight: 600;
  background-color: var(--white);
  border-color: var(--theme);
}
.anticon svg {
  display: inline-block;
  color: var(--theme);
}
:where(.css-1vr7spz).ant-pagination
  .ant-pagination-item
  a {
  display: block;
  padding: 0 6px;
  color: var(--theme);
}
:where(.css-1vr7spz).ant-empty-normal
  .ant-empty-description {
  color: var(--theme);
}
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-tbody
  > tr.ant-table-placeholder:hover
  > th,
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-tbody
  > tr.ant-table-placeholder:hover
  > td,
:where(.css-1vr7spz).ant-table-wrapper
  .ant-table-tbody
  > tr.ant-table-placeholder {
  background: var(--white);
}

:where(.css-1vr7spz).ant-modal .ant-modal-content {
  color: var(--black);
  background: var(--white);
}
:where(.css-1vr7spz).ant-form-item
  .ant-form-item-label
  > label {
  color: var(--black);
}
.custom-input {
  background: var(--white);
  border: 1px solid var(--theme);
}
:where(.css-1vr7spz).ant-modal .ant-modal-title {
  background-color: var(--white);
  color: var(--black);
}

:where(
    .css-1vr7spz
  ).ant-select.ant-select-in-form-item {
  width: 100%;
  border-bottom: 1px solid var(--theme);
}
:where(.css-1vr7spz).ant-btn-default {
  background-color: var(--white);
  color: var(--black);
}
:where(.css-1vr7spz)[class^="ant-modal"]
  [class^="ant-modal"],
:where(.css-1vr7spz)[class*=" ant-modal"]
  [class^="ant-modal"],
:where(.css-1vr7spz)[class^="ant-modal"]
  [class*=" ant-modal"],
:where(.css-1vr7spz)[class*=" ant-modal"]
  [class*=" ant-modal"] {
  color: var(--black);
}
.custom-input {
  color: var(--black);
}
:where(.css-1vr7spz).ant-picker
  .ant-picker-input
  > input {
  color: var(--black);
}
:where(.css-1vr7spz).ant-picker:not(
    .ant-picker-disabled
  ).ant-picker-status-error,
:where(.css-1vr7spz).ant-picker:not(
    .ant-picker-disabled
  ).ant-picker-status-error:not([disabled]):hover {
  background-color: var(--white);
}
.label-input {
  color: var(--black);
}
.p-login {
  color: var(--black);
}
.btn-blue:hover {
  background-color: var(--white) !important;
}
.btn {
  background-color: var(--white);
  font-family: "Montserrat";
}
span {
  font-family: "Montserrat";
}
:where(.css-1vr7spz).ant-table-wrapper .ant-table {
  font-family: "Montserrat";
}
.left {
  color: var(--black);
}
.home-chip {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  background-color: var(--theme);
  border-radius: 10px;
  padding: 1.5rem;
  gap: 1.25rem;
  width: 50vw;
}
.chip-left > img {
  height: 16.5rem;
  width: 19rem;
}
.table-img{
  width: 45rem;
}
.chip-left{
    display: flex;
    justify-content: center;
}
.chip-right{
  color:var(--black);
}
.chip-right>h2{
  text-align: center;
  margin-bottom: 1.5rem;
}

.right {
  padding-top: 5rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-container {
flex-direction: column;
}
.left {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}
.homebtn{
  align-self: center;
}
.left>h1{
  text-align: center;
}
.btn-blue {
  color: var(--white);
}
.btn-blue:hover{
  background-color: var(--white) !important;
}
th{
  width: 10px !important;
}
.left{
  max-width: 50vw !important;
}
.home-container{
  justify-content: space-around;
}
.custombtn{
  background-color: var(--black) !important;
  color:var(--theme) !important;
}
@media screen and (min-width:320px) and (max-width:768px) {
  *{
    font-size: 93%;
  }
  .chart-container{
    flex-direction: column;
  }
  .my-card{
    min-width: 200px !important;
  }
  .piechart,.linechart{
    min-width: 90% !important;
    min-height: 200px !important;
    height: 200px;
  }
  .my-table{
    padding: 1rem 0.5rem;
  }
  .table-cont{
    padding: 0rem 0.25rem !important;
  }
  span{
    font-size: 95% !important;
  }
  :where(.css-1vr7spz).ant-select-single.ant-select-show-arrow .ant-select-selection-item, :where(.css-1vr7spz).ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    font-size: 11px !important;
}
.ant-radio-button-wrapper span{
  font-size: 11px !important;
}
.btn-wrap-heading{
  flex-direction: column !important;
  gap: 1rem;
}
.notrans-img{
  width: 300px !important;
}
.btn{
  font-size: 0.7rem;
}
h1,h2{
  font-size: 1.25rem !important;
}
form{
  margin-top: 1rem;
}
.csv-btn-cont{
  padding: 0rem 1.5rem !important;
}
.home-container{
  flex-direction: column !important;
}
.home-img{
  width: 80% !important;
}
.left{
  min-width: 100%;
}
.right{
  padding-right: 0rem !important;
  padding-top: 1rem !important;
}
.headingh1{
  font-size: 2rem !important;
}
}